$main-font-family: 'Poppins', 'Roboto', sans-serif;
$body-padding: 10px;
$background-color: white;

$color-primary: #69b9f9;
$color-primary-accent: #5494c5;
$color-primary-tenery: #5fa7de;
$color-primary-text: white;

$color-secondary: #c62828;
$color-secondary-text: black;
$color-secondary-accent: #d50000;
$color-tertiary-accent: #2794ff;
$border-color: #dbdbdb;