.chat {
    margin-left: 10px;
    margin-top: 15px;
    align-items: "center";
    background-color: $color-primary-accent;
    color: #fff;
    border-radius: 0 10px 10px;
}

.chat-r {
    margin-right: 10px;
    margin-left: auto;
    margin-top: 15px;
    align-items: "center";
}

.chat-r-msg {
    background-color: grey;
    width: 100%;
    color: #fff;
    border-radius: 10px 0px 10px 10px;
}

